{% extends "base.html" %}

{% block content %}
  
{% if request.get_full_path == "/biblioteca/available-books/" %}
<h1>Libros Disponibles</h1>
{% elif request.get_full_path == "/biblioteca/loaned-books/" %}
<h1>Libros Prestados</h1>
{% else %}
<h1>Libros</h1>
{% endif %}
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <strong>Titulo: </strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> <strong>Autor: </strong>{{ book.author.all|join:", " }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No hay libros disponibles.</p>
  {% endif %}   
{% if request.get_full_path == "/biblioteca/book/" %}
<li><a href="{% url 'book_create' %}">Agregar nuevo libro</a></li>
{% endif %}   
{% endblock %}